/* styles.css */

*{
  margin: 0;
  padding: 0;
  border-style: 20px solid ;
}

:root {
    --color-primary: #6c63ff;
    --color-suuuess: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1:  rgb(188, 244, 75);
    --color-bg2: #424890;
    --color-bg3: #abebc6;
    --color-bg4: #d1f2eb;
    --color-bg5: #ba0c2f;
    --color-bg6: #f2f2f2;
    --color-RU: linear-gradient(to right, #8fe650, #FFFF00, #8eda58);
    --color-UR: linear-gradient(to right, #001033, #020202, #001033);
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
  
    --transition: all 400ms ease;
  }

  

/* Agrega este código CSS en tu archivo de estilos o en línea según tu preferencia */
/*
.container-fluid-nav {
  position: relative;

}
li nav-item {
  outline: none;
}
.navbar-nav {
  position: absolute;
  top: 0.5;
  right: 0;
  display: flex;
  padding-right: 2rem;
  outline: none;
}

.nav_container{
  outline: none;
}
/* Agrega este código CSS en tu archivo de estilos o en línea según tu preferencia */
*{
  margin: 0;
  padding: 0;
}
body{

   background-color: darkgrey;
  

}
.custom-link:hover {
  color:  "#6f942c";
  border-color: var(--color-RU);
  /* Estilos adicionales cuando el usuario pasa el ratón */
  /* Puedes personalizar esto según tus preferencias */
}

.btn.btn-outline-secondary {
  color:  "#6f942c";
  text-decoration: none;
 }
.btn btn-secondary{
  outline: none;
}
li{
  text-decoration: none;
}

Link{
  text-decoration: none;
}

.custom-link:active,
.custom-link:focus {
  outline: none; /* Elimina el resaltado al hacer clic y al enfocar */
}

  
  .button_color{

    background: var(--color-bg5);
  }

  .my-div {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    align-items: center;
   }
   
   .delete-button {
    background-color: #e53e3e;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition:  0.3s;
   }
   
   .delete-button:hover {
    background-color: lightgray;
   }
   
   .edit-button {
    background-color: #3182ce;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition:  0.3s;
   }
   
   .edit-button:hover {
    background-color: lightgray;
   }

   .comenzar{
    background-color:darkgray;
    color: #585857 ;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    text-decoration: none;
    
   }
   
   .comenzar:hover {
    background-color: #85D615;
    color: #585857;

   }

   .ButtonLink:hover {
    background-color: gray;
  }
  